#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.photograph-header h2 {
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 83px;
color: #D3573C;
margin: 0;
}

.photograph-header h3 {
    font-weight: 400;
font-size: 24px;
line-height: 31px;
margin: 0;
color: #901C1C;
}

.photograph-header h4 { 
    font-weight: 400;
font-size: 18px;
line-height: 23px;
margin: 0;
padding-top: 20px;

color: #525252;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.send_button  {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.message input {
    height: 100px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 10px 100px;
}

.photos .bottom-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.photos img { 
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5%;
}

.photos video { 
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5%;
}

.priceDiv {
    display: flex;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 20px;
font-size: 24px;
font-weight: 500;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
border-radius: 4px 4px 0px 0px;
height: 40px;
margin: auto;
padding: 7px;
align-items: center;
}

#contact_modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: none;
    height: 100%;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
}

.no-scroll {
    overflow: hidden;
 }

 #mediaModal {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    display: none;
    height: 100%;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
 }

 #mediaContent {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: ;
    align-self: center;
    justify-content: center;
    align-items: center;
 }

 .media {
    width: 80%;
    height: 85%;
    object-fit: cover;
 }

 #previous {
    margin-left: 20px;
 }

 #next {
    margin-right: 20px;
 }

 #close {
    position: absolute;
    top: 10%;
    right: 10%;
 }
    .priceDiv p {
        margin: 0;
    }

    .likesHeart {
        display: flex;
    }

    .tri {
        margin-left: 100px;
        display: flex;
    }

    .links {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
        left: 200px;
    }

    .links a {
        background-color: #901C1C;
        color: white;
        padding: 10px;
    }

    .links a:not(:first-child) {
        display: none;
        border-top: 1px solid white;
    }

    .links:hover a:not(:first-child) {
        display: block;
        z-index: 14;
    }

    .links a:first-child {
        border-radius: 4px 4px 0px 0px;
    }

    .links a:last-child {
        border-radius: 0px 0px 4px 4px;
    }